<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning TestNG">

 <listeners>
    <listener class-name="testNGlearning.CustomListeners" />
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="extentListeners.ExtentListeners" />
   
  </listeners>


  <test  name="Login Test">
    <classes>
      
      <class name="testNGlearning.TestCase1"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test  name="Validate Titles Test">
    <classes>
      <class name="testNGlearning.TestCase2"/>

    </classes>
  </test> <!-- Test -->
  
  <test  name="Dependency Test">
    <classes>
      
      <class name="testNGlearning.TestCase3"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
